.page-content {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin: 20px auto 0 auto; /* Adjusted top margin for the new navbar */
  box-sizing: border-box;
  text-align: left; /* Default text alignment to left */
  color: var(--text-color-light);
}

/* Modifier for centered text content */
.page-content--center {
  text-align: center;
}

body.dark .page-content {
  color: var(--text-color-dark);
}

.page-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.page-content p {
  font-size: 1.1rem;
  line-height: 1.6;
}
